extends layout

block content
  .container-fluid.well
    .row
      .col-sm-6.col-sm-offset-3.col-lg-6.col-lg-offset-3
        table.table.table-striped.table-bordered.table-hover
          thead 
            tr 
              th الاسم
              th سنة الميلاد
              th الاصل
              th السيرة الذاتية
              th تعديل
              th إلغاء

          tbody
            for author in authors
              tr
                td  #{author.name}
                td  #{author.birtday}
                td  #{author.country}
                td  #{author.bio}
                td
                  button.btn.btn-warning(type='button') تعديل
                td 
                  button.btn.btn-danger(type='button') إلغاء

  script(src='/js/jquery-2.1.4.min.js')
  script(src='/js/bootstrap.min.js')

