extends layout

block content
  .col-sm-10.col-lg-10
    .panel.panel-info
      .panel-heading(dir='ltr')
        h3.panel-title.pull-right= title
        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#addModal') اضافة
      table.table.table-striped.table-bordered.table-hover
        thead 
          tr 
            th الاسم
            th تعديل
            th إلغاء

        tbody
          for category in categories
            tr
              td  #{category.name}
              td
                button.btn.btn-warning(type='button') تعديل
              td 
                button.btn.btn-danger(type='button') إلغاء
      #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          form.form-horizontal(method="post", action="/category/addCategory")
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
                |         
                h4#myModalLabel.modal-title اضافة تصنيف جديد
              |       
              .modal-body
                .form-group
                  label.col-sm-3.control-label(for='name') اسم التصنيف :
                  |     
                  .col-sm-9
                    input#name.form-control(type='text', name ='name', placeholder='اسم التصنيف')
                | 
              |       
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') إلغاء
                |         
                button.btn.btn-primary(type='submit') اضافة    
  script(src='/js/jquery-2.1.4.min.js')
  script(src='/js/bootstrap.min.js')

