extends layout

block content
  .container-fluid.well
    .row
      .col-sm-6.col-sm-offset-3.col-lg-6.col-lg-offset-3
        table.table.table-striped.table-bordered.table-hover
          thead 
            tr 
              th الاسم
              th العمر
          tbody
            for user in users
              tr
                td  #{user.name}
                td  #{user.age}
  script(src='/js/jquery-2.1.4.min.js')
  script(src='/js/bootstrap.min.js')

